.vscode

# where i put my test codes
# and whatnot
misc

# i was looking at the source
# code of ntl to see if i can
# optimize something
ntl

# python's cache
__pycache__

# phi_files are really heavy!
# i wish that i could include
# it :-(
phi_files/*.txt

# hilbert polynomial files 
# are also large :-v
H_*.txt