.vscode

# where i put my test codes
# and whatnot
misc

# python's cache
__pycache__

# phi_files are really heavy!
# i wish that i could include
# it :-(
phi_files/*.txt

# hilbert polynomial files 
# are also large :-v
H_*.txt
hilbertout

# remove all "curvemul" compiled
# binaries
!curvemul
curvemul/*
!curvemul/so
curvemul/so/*
!curvemul/so/*.py
!curvemul/src
!curvemul/Makefile
!curvemul/libs